<div class="posts-list-skeleton__container">
	<div class="posts-list-skeleton__card" *ngFor="let item of items">
		<div class="posts-list-skeleton__header">
			<ngx-skeleton-loader count="1" appearance="circle" class="avatar" />
			<ngx-skeleton-loader count="1" class="title" />
		</div>
		<div class="posts-list-skeleton__content">
			<ngx-skeleton-loader count="1" class="text" />
			<ngx-skeleton-loader count="1" class="text" />
		</div>
		<div class="posts-list-skeleton__icons">
			<ngx-skeleton-loader count="1" class="icon" />
			<ngx-skeleton-loader count="1" class="icon" />
		</div>
	</div>
</div>

  