<div class="posts-list">
	<button mat-icon-button (click)="onBack()">
        <mat-icon>arrow_back</mat-icon>
	</button>
	<div *ngIf="status === 'succeeded'">
		<mat-card apperance="outlined" *ngFor="let post of posts">
			<mat-card-header>
				<app-user-avatar mat-card-avatar [name]="user?.Name!"></app-user-avatar>
				<mat-card-title>
					{{post.Title}}
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				{{post.Body}}
			</mat-card-content>
			<mat-card-actions align="end">
				<button mat-icon-button>
					<mat-icon>chat</mat-icon>
				</button>
				<button mat-icon-button>
					<mat-icon>favorite</mat-icon>
				</button>
			</mat-card-actions>
		</mat-card>
	</div>
	<app-posts-list-skeleton *ngIf="status === 'pending'" />
	<app-error-state *ngIf="status === 'rejected'" />
</div>
