
.users-list-skeleton{
	&__container {
		display: flex;
		flex-direction: column;
		padding: 13px;
		opacity: 0.1;
	}

	&__lines {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: 0px;
	}

	&__row {
		align-items: center;
		display: flex;
		gap: 10px;
		border-bottom: solid 1px #ccc;
		margin-bottom: 18px;
	}
}
