/*
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$angular-ui-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$red-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($angular-ui-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($angular-ui-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($angular-ui-theme);
*/


@use '@angular/material' as mat;
@use './m3-theme.scss';

@include mat.core();
@include mat.color-variants-backwards-compatibility(m3-theme.$theme);

html, body { 
  @include mat.all-component-themes(m3-theme.$theme);
  height: 100%; 
  margin: 0;
}

body { 
  background-color: #1d1618;
  color: #e0c4c9;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.container {
  height: 100%;
  padding: 25px;
}

// FUCK ANGULAR MATERIAL THEMING!

.mat-toolbar {
  background-color: #de002d !important;
}

.mat-mdc-card {
  // background-color: #261e20 !important;
  // border: solid 1px #34292c !important;
}


